{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section section-md bg-white">
        <div class="shell">
          <div class="range range-50 range-sm-center range-md-left">
            <div class="cell-sm-6 cell-md-5">
              <div class="thumb-bordered"><img src="{% static 'images/about_me.jpg' %}" alt="" width="437" height="435">
              </div>
            </div>
            <div class="cell-sm-6 cell-md-7">
              <div class="box-width-3 box-centered">
                <article class="quote-big">
                  <p class="q">Привіт! Мене звати Ксю, або ж просто Оксана).</p>
                </article>
                <div class="divider"></div>
                <p class="text-spacing-05">Трохи про мене
                    ФОТОГРАФ
                    Оксана Бобровська
                    Привіт! Дякую,що ви зараз тут ,на моєму сайті !.Найбільше про мене можуть сказати фото ,але якщо в двох словах ,то ось що вам потрібно знати .
                    Я щира,сонячна та проста в спілкуванні  людина і з таким посилом та настроєм стараюсь  йти до вас на фотозйомку. Про що я фотографую ?
                    Фотографую про людей .Найбільше люблю історії наповненні щирістю і любов'ю ,а саме сімейна фотосесія та lovestory.
                    В індивідуальній зйомці намагаюсь передати особливість людини  та висловити концепцію,задуманий образ через фото.
                    Отож ,продумана композиція ,підготовлений образ і непідробні емоції - забезпечують створити хороші кадри. А це я вам гарантую ;)
                    І пам'ятайте кожен момент в житті важливий .</p>
                  <p class="text-spacing-05">
                      Контакти
                        Instagram
                        Я завжди відкрита до нових пропозицій та несподіваних подорожей . Якщо у вас є ідеї зйомок ,пишіть ! Буду дуже рада втілити вашу фотоідею.<br>
                        E-mail :  oksanabobrovska97@gmail.com<br>
                        Телефон : +380966610798.<br>
                        Працюю в м .Рівне ,м.Київ та Львів. У всіх одночасно не можу бути ,тому бронюйте свою дату заздалегідь.
                        Вартують мої послуги - 600 грн./1 год.
                  </p>
                  <p class="text-spacing-05">

                    Портфоліо :<br>
                    Індивідуальна зйомка<br>
                    Сімейна фотосесія<br>
                    Lovestory</p>
                <div class="group-3-columns" data-lightgallery="group">
                  <div class="column-item"><a class="thumb-light" href="{% static 'images/family.jpg' %}" data-lightgallery="item"><img src="{% static 'images/family.jpg' %}" alt="" width="120" height="171">
                      <div class="thumb-light__overlay"></div></a></div>
                  <div class="column-item"><a class="thumb-light" href="{% static 'images/ind.jpg' %}" data-lightgallery="item"><img src="{% static 'images/ind.jpg' %}" alt="" width="120" height="171">
                      <div class="thumb-light__overlay"></div></a></div>
                  <div class="column-item"><a class="thumb-light" href="{% static 'images/lovestory.jpg' %}" data-lightgallery="item"><img src="{% static 'images/lovestory.jpg' %}" alt="" width="120" height="171">
                      <div class="thumb-light__overlay"></div></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

{% endblock %}