<div class="col-lg-3">
    <div class="product-item">
        <a href="{% url 'galleries' gallery_image.gallery.id %}">
            <img src="{{ gallery_image.image.url }}" alt="">
        </a>
        <div>
            <h4>{{ gallery_image.gallery.name }}</h4>
            <p>
            {{gallery_image.gallery.description|truncatechars_html:20}}
            </p>
        </div>
    </div>
</div>