{% extends 'base.html' %}

{% block content %}


{#        <div class="rd-navbar-wrap">#}
{#            <nav class="rd-navbar" >#}
{#                <div class="rd-navbar-main-outer">#}
{#                    <ul class="rd-navbar-nav">#}
{#                        <li class="active"><a href="{% url 'gallery' %}">Всі</a>#}
{#                        </li>#}
{#                        <li class=""><a href="{% url 'lovestory' %}">lovestory</a>#}
{#                        </li>#}
{#                        <li><a href="{% url 'individual' %}">Індивідуальна</a>#}
{#                        </li>#}
{#                        <li><a href="{% url 'family' %}">Сімейна</a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#            </nav>#}
{#        </div>#}

        <div class="section section1">
            <div class="container">
                <div class="row">
                    {% for gallery_image in gallery_images %}
                        {% include 'galleries/gallery_item.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>



{% endblock %}


