{% extends 'base.html' %}
{% block content %}
{#<div class="rd-navbar-wrap">#}
{#    <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-stick-up-clone="false" data-md-stick-up-offset="5px" data-lg-stick-up-offset="5px" data-md-stick-up="true" data-lg-stick-up="true">#}
{#        <div class="rd-navbar-main-outer">#}
{#            <ul class="rd-navbar-nav">#}
{#                <li class="active"><a href="{% url 'gallery' %}">Всі</a>#}
{#                </li>#}
{#                <li class=""><a href="{% url 'lovestory' %}">lovestory</a>#}
{#                </li>#}
{#                <li><a href="{% url 'individual' %}">Індивідуальна</a>#}
{#                </li>#}
{#                <li><a href="{% url 'family' %}">Сімейна</a>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#    </nav>#}
{#</div>#}
<div class="section section1">
    <div class="container">
        <div class="row">
            {% for gallery_image in gallery_images_individual %}
                {% include 'galleries/gallery_item.html' %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
